{%extends 'base.html'%}

{%block title%}Inicio{%endblock%}

{%block body%}
    
    <h1>Laptops disponibles</h1>
    <div> 
        <p>Laptop HP</p>
        <img src="https://www.cyberpuerta.mx/img/product/XL/CP-HP-2P9Q1LT-1.jpg" alt="Hp">
    </div>
    <div> 
        <p>Laptop Asus</p>
        <img src="https://www.asus.com/media/Odin/Websites/global/ProductLine/20200824120814.jpg" alt="Asus">
    </div>
    <div> 
        <p>Laptop Victus HP</p>
        <img src="https://m.media-amazon.com/images/I/71Q+47iEdbL._AC_.jpg" alt="Victus">
    </div>
    
{%endblock%}